/* ADD styling for all of the divs in post.html to match  */

#individual-post-title {
    text-align: center;
    font-size: 2em;
    padding-top: 24px;
    padding-bottom: 24px;
}

#individual-post-date {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #f1f4f8;
    border-bottom: 1px solid #f1f4f8;
    padding-left: 16px;
    color: #adb5bd;
}

#individual-post-content {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    color: #495057;
    line-height: 1.4;
}