body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 350px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/banner.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

header > * {
    z-index: 10;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    background-image: url(/assets/profile.JPG);
    background-size: cover;
}

.profile-name {
    font-size: 3em;
    font-weight: bold;
}

.subtext{
    margin-top: 8px;
}

.main {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}

.post {
    display: flex;
    border: 1px solid #d7d9db;
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 24px;
}

.post:hover {
    transform: translate3d(0,-5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.1);
    transition: all 0.25s ease;
}

.post-image {
    flex-basis: 40%;
    background-image: url(/assets/img1.jfif);
    background-size:cover;
    background-position: center;
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}

.post-date {
    font-size: 12px;
    color: #adb5bd;
    font-weight: 600;
}

.post-title {
    margin-top: 16px;
    font-size: 1.5em;
    color : #333;
    font-weight: 600;
}
.post-title h4 {
    margin: 0;
}

.post-text {
    margin-top: 4px;
    color: #495057;
    font-weight: 400;
    line-height: 1.4;
    max-height: 65px;
    overflow: hidden;
}

.nav-button.new-post-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: #004186;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: all 0.25s ease;
}

.nav-button.new-post-button:hover {
    background-color: #002349;
}